@import "base/reset", "base/typography";

@import "partials/variables", "partials/layout", "partials/mixins";

@import "components/ui-elements";

@import "layout/header", "layout/footer";

@import "pages/property", "pages/registration";
body {
  font-family: $font-regular;
  color: #312b2b;
}
h1,
h2,
h3 {
}
a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}
.wow {
  visibility: hidden;
}

@include breakpoint(sm) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .row-reverse {
    display: flex;
    flex-direction: row-reverse;
  }
}

main {
  @include padding(0, 0, 0, 0);

  @include breakpoint(sm) {
    @include padding(0, 0, 0, 0);
  }
}

.main-title-wrap {
  @include flex-center-vert;
  @include margin(0, 0, 40px, 0);

  @include breakpoint(sm) {
    flex-direction: column;
  }

  .title {
    position: relative;
    @include font-size(26px);
    @include padding(0, 0, 0, 30px);
    font-weight: 700;

    @include breakpoint(sm) {
      @include margin(0, 0, 20px, 0);
    }

    &::before {
      background: $brand-color;
      height: 20px;
      width: 20px;
      left: 0;
      content: "";
      position: absolute;
      top: 3px;
    }
  }
}

.bg-white {
  background: $white-color;
}
.bg-light-grey {
  background: rgba($black-color, 0.04) !important;
}
.text-bold {
  font-family: $font-bold;
}
.text-white {
  color: $white-color;
}
.text-black {
  color: $brand-color;
}
.text-blue {
  color: $brand-second-color;
}

section {
  @include padding(70px, 0, 70px, 0);

  @include breakpoint(lp) {
    @include padding(50px, 0, 50px, 0);
  }

  @include breakpoint(sm) {
    @include padding(40px, 0, 40px, 0);
  }

  @include breakpoint(md) {
    @include padding(40px, 0, 40px, 0);
  }
}

.main-search-wrap {
  background: url(../images/slider-01-desktop.jpg) no-repeat;
  background-size: cover;
  @include flex-center;
  height: 600px;
  position: relative;
  @include breakpoint(sm) {
    height: auto;
    @include padding(150px, 0, 100px, 0);
  }

  &::before {
    background: rgba($brand-color, 0.6);
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .inner-content {
    position: relative;
    z-index: 1;
    h1 {
      color: $white-color;
      @include font-size(35px);
      @include margin(0, 0, 10px, 0);
      text-align: center;
      text-transform: uppercase;

      @include breakpoint(sm) {
        @include font-size(25px);
      }
    }
    p {
      color: $white-color;
      @include font-size(20px);
      @include margin(0, 0, 50px, 0);
      text-align: center;
    }
    .nav-tabs {
      border: 0;
      .nav-link {
        border: 0;
        background: none;
        text-transform: uppercase;
        @include padding(0, 0, 0, 0);
        @include margin(0, 0, 0, 0);
        @include border-radius(0);
        @include padding(6px, 30px, 6px, 30px);
        background: #584a3f;
        color: $white-color;
        @include font-size(14px);
        text-transform: uppercase;
        &.active {
          color: $white-color;
          background: rgba($black-color, 0.6);
        }
      }
    }
    .tab-content {
      background: rgba($black-color, 0.6);
      @include padding(40px, 20px, 40px, 20px);
      .form-wrap {
        position: relative;

        .src-text {
          color: $white-color;
          @include font-size(20px);
          text-transform: uppercase;
          @include margin(0, 10px, 0, 0);
          text-align: right;
          @include flex-center;
          height: 40px;
          span {
            line-height: 22px;
          }
          i {
            &::before {
              @include font-size(30px);
            }
          }
        }

        .form-control {
          border: 1px solid #766f6b;
          @include border-radius(0);
          box-shadow: none;
          background: #584a3f;
          color: $white-color;
          height: 40px;
          @include font-size(14px);
          @include input-placeholder {
            color: $white-color;
          }
          &:focus {
            box-shadow: none;
          }
        }
        .form-select {
          @include border-radius(0);
          border: 1px solid #766f6b;
          box-shadow: none;
          height: 40px;
          color: $white-color;
          @include font-size(14px);
          background: #584a3f url(../images/arrow-white.png) 95% 50% no-repeat;
        }
        .adv-search-row {
          @include margin(10px, 0, 0, 0);
        }
        .adv-search-btn {
          position: absolute;
          right: 0;
          @include padding(10px, 20px, 10px, 20px);
          background: rgba($black-color, 0.6);
          right: -20px;
          bottom: -81px;
          color: $white-color;
          @include font-size(14px);
          &:hover {
            background: rgba($black-color, 0.9);
          }
        }
        .search-btn {
          @include breakpoint(sm) {
            position: absolute;
            bottom: -42px;
          }
        }
      }
    }
  }
}

.our-properties {
  .swiper-wrapper {
    flex-direction: row !important;
    @include margin(0, 0, 40px, 0);
  }
  .nav-tabs {
    border: 0;
    margin-left: auto;
    @include breakpoint(sm) {
      margin: auto;
      justify-content: center;
    }

    .nav-link {
      border: 0;
      background: none;
      text-transform: uppercase;
      position: relative;
      @include padding(0, 0, 0, 0);
      @include margin(0, 30px, 0, 0);
      color: $dark-grey-color;
      @include font-size(14px);
      font-weight: 700;

      @include breakpoint(sm) {
        @include margin(0, 30px, 30px, 0);
      }
      &:before {
        position: absolute;
        width: 0;
        height: 3px;
        content: "";
        background: $brand-color;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        @include transition();
      }
      &:hover {
        color: $brand-color;
        &:before {
          width: 30px;
        }
      }
      &.active {
        color: $brand-color;
        &:before {
          width: 30px;
        }
      }
    }
  }
}

.property-card {
  @include margin(10px, 10px, 10px, 10px);
  &__inner {
    color: $white-color;
  }
  &__title {
    text-transform: capitalize;
    @include font-size(20px);
    @include margin(0, 0, 0, 0);
    color: $white-color;
    display: inline-block;

    @include breakpoint(sm) {
      @include font-size(15px);
    }
    &:hover {
      color: $brand-color;
    }
  }
  &__sm-text {
    text-transform: uppercase;
    @include margin(0, 0, 20px, 0);
    display: block;
    @include font-size(14px);

    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
      @include font-size(12px);
    }
  }
  &__group {
    @include flex-center;
    @include margin(0, 0, 20px, 0);

    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
    }

    li {
      text-transform: uppercase;
      @include margin(0, 15px, 0, 0);
      @include padding(0, 15px, 0, 0);
      @include font-size(14px);
      border-right: 1px solid $white-color;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &__price {
    @include font-size(20px);
    display: inline-block;
    @include margin(0, 0, 20px, 0);
    @include breakpoint(sm) {
      @include margin(0, 0, 10px, 0);
      @include font-size(15px);
    }
  }
  &__actions-btns {
    @include flex-center;
    li {
      @include margin(0, 10px, 0, 0);
      a {
        @include flex-center;
        width: 40px;
        height: 40px;
        background: $white-color;
        @include border-radius(50%);
        i {
          &::before {
            color: $dark-grey-color;
          }
        }
        &:hover {
          background: $brand-color;
          i {
            &::before {
              color: $white-color;
            }
          }
        }
      }
    }
  }
}

.box-overlay-wrap {
  @extend %box-wrap;
}

.our-agents {
  .swiper-wrapper {
    flex-direction: row !important;
    @include margin(0, 0, 40px, 0);
  }
  .view-all-link {
    display: inline-block;
    margin-left: auto;
    color: $black-color;

    @include breakpoint(sm) {
      margin: auto;
    }
  }
  .agent-card {
    @include margin(10px, 10px, 10px, 10px);
    display: flex;
    border: 2px solid #dadada;
    background: #f6f4f5;
    height: 270px;

    @include breakpoint(sm) {
      height: auto;
      flex-direction: column;
    }

    &__figure-holder {
      @include flex-center;
      width: 50%;

      @include breakpoint(sm) {
        width: 100%;
        height: 270px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__caption {
      @include padding(30px, 30px, 30px, 30px);
      width: 50%;
      flex-direction: column;
      @include flex-center-horiz;
      height: 100%;
      @include breakpoint(sm) {
        width: 100%;
      }

      .title-head {
        @include margin(0, 0, 20px, 0);
        display: flex;
        flex-direction: column;
        .title {
          @include font-size(20px);
          color: $dark-grey-color;
        }
        .sub-title {
          @include font-size(16px);
          color: $dark-grey-color;
        }
      }

      .info-row {
        @include flex-center-vert;
        @include margin(0, 0, 10px, 0);
        .icon {
          color: $brand-color;
          @include margin(0, 10px, 0, 0);
          i {
            &:before {
              @include font-size(20px);
            }
          }
        }
        p {
          @include font-size(16px);
          color: $dark-grey-color;
        }
      }
    }
  }
}

.request-for-demo {
  background: $brand-color;
  height: 320px;
  @include padding(0, 0, 0, 0);
  .caption {
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @include breakpoint(sm) {
      align-items: center;
    }
    h2 {
      color: $white-color;
      @include margin(0, 0, 20px, 0);
      text-transform: uppercase;
      @include font-size(40px);
    }
    p {
      color: $white-color;
      @include margin(0, 0, 20px, 0);
      @include font-size(16px);
    }
    .request-now-btn {
      display: block;
      @include border-radius(5px);
      background: $white-color;
      color: $brand-color;
      @include font-size(18px);
      @include padding(10px, 30px, 10px, 30px);
      text-transform: uppercase;
      font-weight: 700;
      &:hover {
        background: $black-color;
      }
    }
  }
  .figure-holder {
    @include breakpoint(sm) {
      display: none;
    }
  }
}

.about-us-wrap {
  .left-content {
    background: url(../images/dotted.png) no-repeat bottom left;
    h3 {
      color: $brand-color;
      @include font-size(24px);
      @include margin(0, 0, 20px, 0);
    }
    h2 {
      color: $dark-grey-color;
      @include font-size(30px);
      text-transform: uppercase;
      @include margin(0, 0, 20px, 0);
      font-weight: 700;
    }
    p {
      @include font-size(15px);
      @include margin(0, 0, 30px, 0);
    }
    .exp-wrap {
      display: flex;
      height: 150px;
      align-items: center;
      @include margin(0, 0, 50px, 0);
      .numbers {
        @include font-size(40px);
        position: relative;
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border: 10px solid $brand-color;
        @include margin(0, 20px, 0, 0);

        span {
          text-align: right;
          @include font-size(85px);
          display: block;
          font-weight: 700;
          margin-right: -20px;
        }
      }
      .years {
        text-transform: capitalize;
        @include font-size(20px);
        letter-spacing: 2px;
        font-weight: 700;
      }
    }
    .call-us {
      display: flex;
      align-items: center;
      i {
        @include margin(0, 20px, 0, 0);
        &::before {
          @include font-size(40px);
        }
      }
      span {
        @include font-size(20px);
        text-transform: uppercase;
        display: block;
      }
      a {
        @include font-size(30px);
        font-weight: 700;
        @include margin(0, 0, 0, 0);
        color: $dark-grey-color;
      }
    }
  }
  .figure-holder {
    background: url(../images/about-dotted.png) no-repeat bottom left;
    img {
      width: 100%;
    }
  }
}

.swiper-pagination {
  /*  height: 80px;
  bottom: -90px !important; */

  .swiper-pagination-bullet {
    width: 20px;
    height: 5px;
    background: $light-grey-color;
    @include border-radius(0);
  }
  .swiper-pagination-bullet-active {
    background: $brand-color;
  }
}
