* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none !important;
}

body {
  margin: 0px;
  padding: 0px;
  background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0px;
  padding: 0px;
}

ol,
ul,
li {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: block;
}

ol li,
ul li,
li li {
  list-style-type: none;
}

ol li a,
ul li a,
li li a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00BAB4;
}

a:hover {
  color: #483a3b;
}

button {
  outline: none !important;
  cursor: pointer;
  background: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

a:hover,
a:focus {
  text-decoration: none;
}

a img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

img {
  border: 0;
  padding: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

label {
  font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-animation: autofill 0s forwards;
  animation: autofill 0s forwards;
}

@-webkit-keyframes autofill {
  100% {
    background: transparent;
    color: inherit;
  }
}

@font-face {
  font-family: "GT Walsheim Regular";
  src: local("GT Walsheim Pro Regular"), local("GT-Walsheim-Pro-Regular"), url("../fonts/GTWalsheimPro-Regular.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Regular.woff") format("woff"), url("../fonts/GTWalsheimPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Thin";
  src: local("GT Walsheim Pro Thin"), local("GT-Walsheim-Pro-Thin"), url("../fonts/GTWalsheimPro-Thin.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Thin.woff") format("woff"), url("../fonts/GTWalsheimPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "GT Walsheim Bold";
  src: local("GT Walsheim Pro Bold"), local("GT-Walsheim-Pro-Bold"), url("../fonts/GTWalsheimPro-Bold.woff2") format("woff2"), url("../fonts/GTWalsheimPro-Bold.woff") format("woff"), url("../fonts/GTWalsheimPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* respo */
/* clearfix */
.box-overlay-wrap {
  position: relative;
  overflow: hidden;
}

.box-overlay-wrap .box-overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .box-overlay-wrap .box-overlay {
    opacity: 10;
    filter: alpha(opacity=1000);
  }
}

.box-overlay-wrap .box-wrap-image {
  width: 100%;
}

.box-overlay-wrap .box-wrap-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .box-overlay-wrap .box-wrap-details {
    opacity: 10;
    filter: alpha(opacity=1000);
  }
}

.box-overlay-wrap:hover .box-overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.box-overlay-wrap:hover .box-wrap-details {
  top: 50%;
  left: 50%;
  opacity: 1;
  filter: alpha(opacity=100);
}

.box-overlay-wrap .fadeIn-bottom {
  top: 80%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .box-overlay-wrap .fadeIn-bottom {
    top: 50%;
  }
}

.box-overlay-wrap .fadeIn-top {
  top: 20%;
}

.button-outer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .button-outer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
}

.button--secondary {
  background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(50%, #000), color-stop(50%, #f26b34), to(#f26b34));
  background: linear-gradient(90deg, #000 0%, #000 50%, #f26b34 50%, #f26b34 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
}

.button--secondary:hover {
  background-position: left bottom;
}

.button--secondary:hover {
  color: #fff;
}

.button--primary {
  background: -webkit-gradient(linear, left top, right top, from(#f26b34), color-stop(50%, #f26b34), color-stop(50%, #000), to(#000));
  background: linear-gradient(90deg, #f26b34 0%, #f26b34 50%, #000 50%, #000 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
}

.button--primary:hover {
  background-position: left bottom;
}

.button--primary:hover {
  color: #fff;
}

.button--outline {
  background: -webkit-gradient(linear, left top, right top, from(#f26b34), color-stop(50%, #f26b34), color-stop(50%, transparent), to(transparent));
  background: linear-gradient(90deg, #f26b34 0%, #f26b34 50%, transparent 50%, transparent 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-position: right bottom;
  color: #fff;
  border: 2px solid #fff;
}

.button--outline:hover {
  background-position: left bottom;
}

.button--outline:hover {
  color: #fff;
}

header nav {
  /* Landscape phones and down */
  /* Landscape phones and down */
}

header nav.navbar {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 0;
  background: rgba(0, 0, 0, 0.3);
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    background: rgba(0, 0, 0, 0.9);
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav.navbar {
    padding-top: 20px;
    padding-right: 0;
    padding-bottom: 20px;
    padding-left: 0;
    background: rgba(0, 0, 0, 0.9);
  }
}

header nav .navbar-nav {
  margin-left: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header nav .navbar-nav .nav-link {
  font-size: 13px;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #fff !important;
  padding: 0 0 0 0 !important;
  position: relative;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 15px;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  /* &::before {
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 0;
                    height: 2px;
                    background: $black-color;
                    @include transition;
                    content: "";
                } */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    color: #fff !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-nav .nav-link {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
    color: #fff !important;
  }
}

header nav .navbar-nav .nav-link:hover {
  color: #f26b34 !important;
}

header nav .navbar-nav .nav-link.login--btn {
  border: 2px solid #fff;
}

@media (max-width: 767px) {
  header nav .navbar-collapse {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header nav .navbar-collapse {
    padding-top: 60px;
    padding-right: 0;
    padding-bottom: 60px;
    padding-left: 0;
  }
}

header .logo {
  background: url("../images/logo.png") no-repeat;
  width: 228px;
  height: 43px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-size: 228px 43px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

header.header-scroll nav {
  padding: 15px 0 15px 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 5px 30px #4c5c5b1a;
          box-shadow: 0px 5px 30px #4c5c5b1a;
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  header.header-scroll nav {
    padding: 15px 0 15px 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  header.header-scroll nav {
    padding: 15px 0 15px 0;
  }
}

.icon-bar {
  width: 26px;
  height: 3px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background-color: #fff;
  display: block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 4px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  position: absolute;
  right: 25px;
  top: 30px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar-toggler {
    right: 42px;
  }
}

.navbar-toggler:focus {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

footer {
  background: url(../images/slider-01-desktop.jpg) no-repeat;
  position: relative;
  background-size: cover;
  padding-top: 100px;
  padding-right: 0;
  padding-bottom: 100px;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 30px;
    padding-left: 0;
  }
}

footer::before {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

footer .footer-content {
  position: relative;
  z-index: 1;
}

footer .footer-links {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-links {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-links li {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0;
}

footer .footer-links li a {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  display: inline-block;
  text-transform: capitalize;
}

footer .footer-links li a:hover {
  color: #f26b34;
}

footer .footer-logo {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
  display: inline-block;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .footer-logo {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

footer .footer-logo img {
  width: 100%;
}

footer .newsletter-form {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

footer .newsletter-form .input-wrapper {
  border: 1px solid #766f6b;
  background: #584a3f;
  height: 45px;
  position: relative;
}

footer .newsletter-form .input-wrapper .form-control {
  background: none;
  border: 0;
  height: 45px;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control.placeholder {
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control:-moz-placeholder {
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control::-moz-placeholder {
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control:-ms-input-placeholder {
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control::-webkit-input-placeholder {
  color: #fff;
}

footer .newsletter-form .input-wrapper .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .newsletter-form .input-wrapper .submit-btn {
  position: absolute;
  right: 15px;
  top: 11px;
}

footer .newsletter-form .input-wrapper .submit-btn .bi::before {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
}

footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .social-icon li a {
  color: #fff;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
}

footer .copyright-text {
  font-size: 12px;
  font-size: 0.75rem;
  color: #fff;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  footer .copyright-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.scrollup {
  width: 50px;
  height: 50px;
  position: fixed;
  z-index: 99;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  bottom: 40px;
  right: 40px;
  background: #f26b34;
  color: #fff;
  display: none;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  -webkit-animation: fadeInRight 0.8s ease forwards;
          animation: fadeInRight 0.8s ease forwards;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .scrollup {
    right: 20px;
  }
}

.scrollup span.top-arrow {
  display: block;
  position: relative;
  top: 0px;
  margin: 5px auto 0;
}

.scrollup span .bi {
  font-size: 24px;
  font-size: 1.5rem;
}

.scrollup:hover {
  background: #FDFF11;
}

.scrollup:hover span.top-arrow {
  -webkit-animation: arrowMove 0.8s linear infinite;
}

@-webkit-keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

@keyframes arrowMove {
  0% {
    top: 0%;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0%;
  }
}

.property-detail-wrap .property-top-wrap {
  background: #f1f0f0;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 50px;
  padding-left: 0;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .property-top-wrap .single-property-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col {
  width: 80%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    width: 100%;
  }
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .property-title {
  position: relative;
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 40px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .property-title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .property-title::before {
  background: #f26b34;
  height: 23px;
  width: 23px;
  left: 0;
  content: "";
  position: absolute;
  top: 3px;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .location {
  font-size: 24px;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aaa9a9;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .location i {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .left-col .location i::before {
  color: #f26b34;
  font-size: 30px;
  font-size: 1.875rem;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .property-price {
  background: #fff;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #292929;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .property-price small {
  font-size: 16px;
  font-size: 1rem;
  text-transform: uppercase;
}

.property-detail-wrap .property-top-wrap .single-property-title-wrap .property-price p {
  font-size: 30px;
  font-size: 1.875rem;
}

.property-detail-wrap .property-top-wrap .property-carousel .swiper-slide {
  background-size: cover;
  background-position: center;
}

.property-detail-wrap .property-top-wrap .property-carousel .single-property-thumbs-slider {
  width: 100%;
  height: 600px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .property-top-wrap .property-carousel .single-property-thumbs-slider {
    height: auto;
  }
}

.property-detail-wrap .property-top-wrap .property-carousel .property-thumbs-holders {
  padding: 10px 0;
}

.property-detail-wrap .property-top-wrap .property-carousel .property-thumbs-holders .swiper-slide {
  height: 200px;
  opacity: 0.4;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .property-top-wrap .property-carousel .property-thumbs-holders .swiper-slide {
    height: 100px;
  }
}

.property-detail-wrap .property-top-wrap .property-carousel .property-thumbs-holders .swiper-slide-thumb-active {
  opacity: 1;
}

.property-detail-wrap .property-top-wrap .property-carousel .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.property-detail-wrap .property-top-wrap .property-carousel .swiper-button-next:after,
.property-detail-wrap .property-top-wrap .property-carousel .swiper-button-prev:after {
  background: #f26b34;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.property-detail-wrap .amenities-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .amenities-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.property-detail-wrap .amenities-row__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 40px;
  padding-right: 10px;
  padding-bottom: 40px;
  padding-left: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  width: 20%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-detail-wrap .amenities-row__col {
    width: 100%;
    border-left: 0;
  }
}

.property-detail-wrap .amenities-row__col img {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.property-detail-wrap .amenities-row__col .text-lg {
  color: #292929;
  font-weight: 700;
  display: block;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.property-detail-wrap .amenities-row__col .text-sm {
  color: rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}

.property-detail-wrap .amenities-row__col .action-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.property-detail-wrap .amenities-row__col .action-icons li {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.property-detail-wrap .amenities-row__col .action-icons li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f26b34;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.property-detail-wrap .amenities-row__col .action-icons li a i::before {
  color: #fff;
}

.property-detail-wrap .description p {
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
}

.property-detail-wrap .floor-plan figure img {
  width: 100%;
}

.enquire-now-wrap .textarea-wrap {
  height: 145px !important;
  resize: none;
}

.enquire-now-wrap .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 2px solid #dadada;
  height: 75px;
  background: #f6f4f5;
  color: #292929;
  font-size: 16px;
  font-size: 1rem;
}

.enquire-now-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #f26b34;
}

.registration-tabs .nav-tabs {
  border: 0;
}

.registration-tabs .nav-tabs .nav-link {
  border: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #c7c7c7;
  color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.registration-tabs .nav-tabs .nav-link.active {
  color: #000;
  background: #f0f0f0;
}

.registration-tabs .tab-content {
  background: #f0f0f0;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
}

.registration-tabs .tab-content .form-wrap {
  position: relative;
}

.registration-tabs .tab-content .form-wrap .form-control {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 2px solid #dadada;
  height: 75px;
  background: #f6f4f5;
  color: #292929;
  font-size: 16px;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}

.registration-tabs .tab-content .form-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #f26b34;
}

.registration-tabs .tab-content .form-wrap .textarea-wrap {
  height: 245px !important;
  resize: none;
}

.registration-tabs .tab-content .form-wrap p {
  color: #292929;
  font-weight: 700;
}

.registration-tabs .tab-content .form-wrap p a {
  color: #f26b34;
}

.registration-tabs .tab-content .form-wrap .custom-file-uploader {
  position: relative;
}

.registration-tabs .tab-content .form-wrap .custom-file-uploader input[type='file'] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: default;
}

body {
  font-family: "Roboto", sans-serif;
  color: #312b2b;
}

a[href^="tel"] {
  text-decoration: inherit;
  color: inherit;
}

.wow {
  visibility: hidden;
}

/* Landscape phones and down */
@media (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
  .column-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .row-reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

main {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  main {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.main-title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-title-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-title-wrap .title {
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 30px;
  font-weight: 700;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-title-wrap .title {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

.main-title-wrap .title::before {
  background: #f26b34;
  height: 20px;
  width: 20px;
  left: 0;
  content: "";
  position: absolute;
  top: 3px;
}

.bg-white {
  background: #fff;
}

.bg-light-grey {
  background: rgba(0, 0, 0, 0.04) !important;
}

.text-bold {
  font-family: "GT Walsheim bold";
}

.text-white {
  color: #fff;
}

.text-black {
  color: #f26b34;
}

.text-blue {
  color: #FDFF11;
}

section {
  padding-top: 70px;
  padding-right: 0;
  padding-bottom: 70px;
  padding-left: 0;
  /* Landscape phones and down */
  /* Landscape phones and down */
  /* Landscape phones and down */
}

@media (min-width: 1025px) and (max-width: 1645px) {
  section {
    padding-top: 50px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  section {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  section {
    padding-top: 40px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }
}

.main-search-wrap {
  background: url(../images/slider-01-desktop.jpg) no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  position: relative;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap {
    height: auto;
    padding-top: 150px;
    padding-right: 0;
    padding-bottom: 100px;
    padding-left: 0;
  }
}

.main-search-wrap::before {
  background: rgba(242, 107, 52, 0.6);
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-search-wrap .inner-content {
  position: relative;
  z-index: 1;
}

.main-search-wrap .inner-content h1 {
  color: #fff;
  font-size: 35px;
  font-size: 2.1875rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  text-align: center;
  text-transform: uppercase;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap .inner-content h1 {
    font-size: 25px;
    font-size: 1.5625rem;
  }
}

.main-search-wrap .inner-content p {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
  text-align: center;
}

.main-search-wrap .inner-content .nav-tabs {
  border: 0;
}

.main-search-wrap .inner-content .nav-tabs .nav-link {
  border: 0;
  background: none;
  text-transform: uppercase;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding-top: 6px;
  padding-right: 30px;
  padding-bottom: 6px;
  padding-left: 30px;
  background: #584a3f;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.main-search-wrap .inner-content .nav-tabs .nav-link.active {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

.main-search-wrap .inner-content .tab-content {
  background: rgba(0, 0, 0, 0.6);
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.main-search-wrap .inner-content .tab-content .form-wrap {
  position: relative;
}

.main-search-wrap .inner-content .tab-content .form-wrap .src-text {
  color: #fff;
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40px;
}

.main-search-wrap .inner-content .tab-content .form-wrap .src-text span {
  line-height: 22px;
}

.main-search-wrap .inner-content .tab-content .form-wrap .src-text i::before {
  font-size: 30px;
  font-size: 1.875rem;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control {
  border: 1px solid #766f6b;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #584a3f;
  color: #fff;
  height: 40px;
  font-size: 14px;
  font-size: 0.875rem;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control.placeholder {
  color: #fff;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control:-moz-placeholder {
  color: #fff;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control::-moz-placeholder {
  color: #fff;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control:-ms-input-placeholder {
  color: #fff;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control::-webkit-input-placeholder {
  color: #fff;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-search-wrap .inner-content .tab-content .form-wrap .form-select {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #766f6b;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
  background: #584a3f url(../images/arrow-white.png) 95% 50% no-repeat;
}

.main-search-wrap .inner-content .tab-content .form-wrap .adv-search-row {
  margin-top: 10px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.main-search-wrap .inner-content .tab-content .form-wrap .adv-search-btn {
  position: absolute;
  right: 0;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: rgba(0, 0, 0, 0.6);
  right: -20px;
  bottom: -81px;
  color: #fff;
  font-size: 14px;
  font-size: 0.875rem;
}

.main-search-wrap .inner-content .tab-content .form-wrap .adv-search-btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.main-search-wrap .inner-content .tab-content .form-wrap .search-btn {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .main-search-wrap .inner-content .tab-content .form-wrap .search-btn {
    position: absolute;
    bottom: -42px;
  }
}

.our-properties .swiper-wrapper {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.our-properties .nav-tabs {
  border: 0;
  margin-left: auto;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-properties .nav-tabs {
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-properties .nav-tabs .nav-link {
  border: 0;
  background: none;
  text-transform: uppercase;
  position: relative;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 0;
  color: #292929;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-properties .nav-tabs .nav-link {
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 0;
  }
}

.our-properties .nav-tabs .nav-link:before {
  position: absolute;
  width: 0;
  height: 3px;
  content: "";
  background: #f26b34;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.our-properties .nav-tabs .nav-link:hover {
  color: #f26b34;
}

.our-properties .nav-tabs .nav-link:hover:before {
  width: 30px;
}

.our-properties .nav-tabs .nav-link.active {
  color: #f26b34;
}

.our-properties .nav-tabs .nav-link.active:before {
  width: 30px;
}

.property-card {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.property-card__inner {
  color: #fff;
}

.property-card__title {
  text-transform: capitalize;
  font-size: 20px;
  font-size: 1.25rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #fff;
  display: inline-block;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-card__title {
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.property-card__title:hover {
  color: #f26b34;
}

.property-card__sm-text {
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-card__sm-text {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 12px;
    font-size: 0.75rem;
  }
}

.property-card__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-card__group {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.property-card__group li {
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 15px;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 15px;
  padding-bottom: 0;
  padding-left: 0;
  font-size: 14px;
  font-size: 0.875rem;
  border-right: 1px solid #fff;
}

.property-card__group li:last-child {
  border-right: 0;
}

.property-card__price {
  font-size: 20px;
  font-size: 1.25rem;
  display: inline-block;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .property-card__price {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 15px;
    font-size: 0.9375rem;
  }
}

.property-card__actions-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.property-card__actions-btns li {
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.property-card__actions-btns li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.property-card__actions-btns li a i::before {
  color: #292929;
}

.property-card__actions-btns li a:hover {
  background: #f26b34;
}

.property-card__actions-btns li a:hover i::before {
  color: #fff;
}

.our-agents .swiper-wrapper {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.our-agents .view-all-link {
  display: inline-block;
  margin-left: auto;
  color: #000;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-agents .view-all-link {
    margin: auto;
  }
}

.our-agents .agent-card {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #dadada;
  background: #f6f4f5;
  height: 270px;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-agents .agent-card {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.our-agents .agent-card__figure-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-agents .agent-card__figure-holder {
    width: 100%;
    height: 270px;
  }
}

.our-agents .agent-card__figure-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-agents .agent-card__caption {
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .our-agents .agent-card__caption {
    width: 100%;
  }
}

.our-agents .agent-card__caption .title-head {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-agents .agent-card__caption .title-head .title {
  font-size: 20px;
  font-size: 1.25rem;
  color: #292929;
}

.our-agents .agent-card__caption .title-head .sub-title {
  font-size: 16px;
  font-size: 1rem;
  color: #292929;
}

.our-agents .agent-card__caption .info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
}

.our-agents .agent-card__caption .info-row .icon {
  color: #f26b34;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.our-agents .agent-card__caption .info-row .icon i:before {
  font-size: 20px;
  font-size: 1.25rem;
}

.our-agents .agent-card__caption .info-row p {
  font-size: 16px;
  font-size: 1rem;
  color: #292929;
}

.request-for-demo {
  background: #f26b34;
  height: 320px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.request-for-demo .caption {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .request-for-demo .caption {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.request-for-demo .caption h2 {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 40px;
  font-size: 2.5rem;
}

.request-for-demo .caption p {
  color: #fff;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-size: 16px;
  font-size: 1rem;
}

.request-for-demo .caption .request-now-btn {
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #fff;
  color: #f26b34;
  font-size: 18px;
  font-size: 1.125rem;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.request-for-demo .caption .request-now-btn:hover {
  background: #000;
}

.request-for-demo .figure-holder {
  /* Landscape phones and down */
}

@media (max-width: 767px) {
  .request-for-demo .figure-holder {
    display: none;
  }
}

.about-us-wrap .left-content {
  background: url(../images/dotted.png) no-repeat bottom left;
}

.about-us-wrap .left-content h3 {
  color: #f26b34;
  font-size: 24px;
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
}

.about-us-wrap .left-content h2 {
  color: #292929;
  font-size: 30px;
  font-size: 1.875rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-weight: 700;
}

.about-us-wrap .left-content p {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 0;
}

.about-us-wrap .left-content .exp-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 50px;
  margin-left: 0;
}

.about-us-wrap .left-content .exp-wrap .numbers {
  font-size: 40px;
  font-size: 2.5rem;
  position: relative;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border: 10px solid #f26b34;
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.about-us-wrap .left-content .exp-wrap .numbers span {
  text-align: right;
  font-size: 85px;
  font-size: 5.3125rem;
  display: block;
  font-weight: 700;
  margin-right: -20px;
}

.about-us-wrap .left-content .exp-wrap .years {
  text-transform: capitalize;
  font-size: 20px;
  font-size: 1.25rem;
  letter-spacing: 2px;
  font-weight: 700;
}

.about-us-wrap .left-content .call-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-wrap .left-content .call-us i {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 0;
  margin-left: 0;
}

.about-us-wrap .left-content .call-us i::before {
  font-size: 40px;
  font-size: 2.5rem;
}

.about-us-wrap .left-content .call-us span {
  font-size: 20px;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: block;
}

.about-us-wrap .left-content .call-us a {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 700;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  color: #292929;
}

.about-us-wrap .figure-holder {
  background: url(../images/about-dotted.png) no-repeat bottom left;
}

.about-us-wrap .figure-holder img {
  width: 100%;
}

.swiper-pagination {
  /*  height: 80px;
  bottom: -90px !important; */
}

.swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #f26b34;
}
/*# sourceMappingURL=style-en.css.map */