footer {
    background: url(../images/slider-01-desktop.jpg) no-repeat;
    position: relative;
    background-size: cover;
    @include padding(100px, 0, 100px, 0);
    @include breakpoint(sm) {
        @include padding(30px, 0, 30px, 0);
    }
    &::before {
        background: rgba($black-color, 0.6);
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .footer-content {
        position: relative;
        z-index: 1;
    }
    .footer-links {
        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }
        li {
            @include margin(0, 0, 5px, 0);
            a {
                @include font-size(12px);
                color: $white-color;
                display: inline-block;
                text-transform: capitalize;
                &:hover {
                    color: $brand-color;
                }
            }
        }
    }

    .footer-logo {
        @include margin(0, 0, 30px, 0);
        display: inline-block;

        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }

        img {
            width: 100%;
        }
    }

    .newsletter-form {
        @include margin(0, 0, 30px, 0);

        .input-wrapper {
            border: 1px solid #766f6b;
            background: #584a3f;
            height: 45px;
            position: relative;

            .form-control {
                background: none;
                border: 0;
                height: 45px;
                @include padding(0, 20px, 0, 20px);
                @include font-size(14px);
                @include border-radius(0);
                color: $white-color;

                @include input-placeholder {
                    color: $white-color;
                }

                &:focus {
                    box-shadow: none;
                }
            }
            .submit-btn {
                position: absolute;
                right: 15px;
                top: 11px;

                .bi {
                    &::before {
                        color: $white-color;
                        @include font-size(20px);
                    }
                }
            }
        }
    }
    .social-icon {
        display: flex;
        li {
            a {
                color: $white-color;
                @include margin(0, 30px, 0, 0);
            }
        }
    }

    .copyright-text {
        @include font-size(12px);
        color: $white-color;
        @include breakpoint(sm) {
            @include margin(0, 0, 30px, 0);
        }
    }
}

.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 99;
    @include border-radius(50px);
    bottom: 40px;
    right: 40px;
    background: $brand-color;
    color: $white-color;
    display: none;
    text-align: center;
    line-height: 50px;
    opacity: 0;
    animation: fadeInRight 0.8s ease forwards;
    animation-delay: 0.8s;

    @include breakpoint(sm) {
        right: 20px;
    }

    span {
        &.top-arrow {
            display: block;
            position: relative;
            top: 0px;
            margin: 5px auto 0;
        }
        .bi {
            @include font-size(24px);
        }
    }

    &:hover {
        background: $brand-second-color;
        span {
            &.top-arrow {
                -webkit-animation: arrowMove 0.8s linear infinite;
            }
        }
    }
}

@keyframes arrowMove {
    0% {
        top: 0%;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0%;
    }
}
