header {
    nav {
        &.navbar {
            width: 100%;
            @include transition();
            @include padding(20px, 0, 20px, 0);
            background: rgba($black-color, 0.3);

            @include breakpoint(sm) {
                @include padding(20px, 0, 20px, 0);
                background: rgba($black-color, 0.9);
            }
            @include breakpoint(md) {
                @include padding(20px, 0, 20px, 0);
                background: rgba($black-color, 0.9);
            }
        }

        .navbar-nav {
            margin-left: auto !important;
            @include flex-center-vert;
            @include margin(0, 0, 0, 0);

            @include breakpoint(sm) {
                flex-direction: column;
            }
            @include breakpoint(md) {
                flex-direction: column;
            }
            .nav-link {
                @include font-size(13px);
                text-transform: uppercase;
                color: $white-color !important;
                padding: 0 0 0 0 !important;
                position: relative;
                @include margin(0, 15px, 0, 15px);
                position: relative;
                @include transition;
                /* &::before {
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 0;
                    height: 2px;
                    background: $black-color;
                    @include transition;
                    content: "";
                } */

                @include breakpoint(sm) {
                    @include margin(0, 0, 30px, 0);
                    color: $white-color !important;
                }
                @include breakpoint(md) {
                    @include margin(0, 0, 30px, 0);
                    color: $white-color !important;
                }
                &:hover {
                    color: $brand-color !important;
                }
                &.login--btn {
                    border: 2px solid $white-color;
                }
            }
        }
        @include breakpoint(sm) {
            .navbar-collapse {
                @include padding(60px, 0, 60px, 0);
            }
        }
        @include breakpoint(md) {
            .navbar-collapse {
                @include padding(60px, 0, 60px, 0);
            }
        }
    }

    .logo {
        background: url("../images/logo.png") no-repeat;
        width: 228px;
        height: 43px;
        display: inline-flex;
        background-size: 228px 43px;
        align-items: center;
        white-space: nowrap;
        @include padding(0, 0, 0, 0);
        @include transition;
    }
}

header.header-scroll {
    nav {
        padding: 15px 0 15px 0;
        background: rgba($black-color, 0.6);
        box-shadow: 0px 5px 30px #4c5c5b1a;

        @include breakpoint(sm) {
            padding: 15px 0 15px 0;
        }
        @include breakpoint(md) {
            padding: 15px 0 15px 0;
        }
    }
}

.icon-bar {
    width: 26px;
    height: 3px;
    @include border-radius(50px);
    background-color: $white-color;
    display: block;
    @include transition;
    margin-top: 4px;
}
.navbar-toggler {
    border: none;
    background: transparent !important;
    position: absolute;
    right: 25px;
    top: 30px;
    @include padding(0, 0, 0, 0);

    @include breakpoint(md) {
        right: 42px;
    }
    &:focus {
        background: none;
        box-shadow: none;
    }
    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
    .middle-bar {
        opacity: 0;
    }
    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
    &.collapsed {
        .top-bar {
            transform: rotate(0);
        }
        .middle-bar {
            opacity: 1;
        }
        .bottom-bar {
            transform: rotate(0);
        }
    }
}
