.button-outer {
  @include padding(10px, 30px, 10px, 30px);
  @include font-size(14px);
  color: $white-color;
  @include border-radius(0);
  @include transition();
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  @include breakpoint(sm) {
    @include padding(10px, 30px, 10px, 30px);
  }
}

.button--secondary {
  @include background-transition($brand-color, $black-color);
  &:hover {
    color: $white-color;
  }
}
.button--primary {
  @include background-transition($black-color, $brand-color);
  color: $white-color;
  &:hover {
    color: $white-color;
  }
}
.button--outline {
  @include background-transition(transparent, $brand-color);
  color: $white-color;
  border: 2px solid $white-color;
  &:hover {
    color: $white-color;
  }
}
