// colors
$brand-color: #f26b34;
$brand-second-color: #FDFF11;
$black-color: #000; // black color
$white-color: #fff; // white color
$light-grey-color: rgba($black-color, 0.2); 
$border-grey-color: rgba($black-color, 0.1); 
$dark-grey-color: #292929;
$text-grey-color: rgba($black-color, 0.5);
$dark-brown-shade-1: #483a3b; 
$dark-brown-shade-2: #312b2b; 
$dark-brown-shade-3: #3f1912; 
// fonts


$font-regular: 'Roboto', sans-serif;
$font-thin: "GT Walsheim thin";
$font-bold: "GT Walsheim bold";