.property-detail-wrap {
    .property-top-wrap {
        background: #f1f0f0;
        @include padding(50px, 0, 50px, 0);
        .single-property-title-wrap {
            justify-content: space-between;
            @include flex-center-vert;
            @include margin(0, 0, 40px, 0);

            @include breakpoint(sm) {
                flex-direction: column;
            }

            .left-col {
                width: 80%;

                @include breakpoint(sm) {
                    @include margin(0, 0, 20px, 0);
                    width: 100%;
                }

                .property-title {
                    position: relative;
                    @include font-size(30px);
                    font-weight: 700;
                    @include padding(0, 0, 0, 40px);
                    @include margin(0, 0, 10px, 0);

                    @include breakpoint(sm) {
                        @include margin(0, 0, 20px, 0);
                    }

                    &::before {
                        background: $brand-color;
                        height: 23px;
                        width: 23px;
                        left: 0;
                        content: "";
                        position: absolute;
                        top: 3px;
                    }
                }
                .location {
                    @include font-size(24px);
                    @include flex-center-vert;
                    color: #aaa9a9;
                    i {
                        @include margin(0, 10px, 0, 0);
                        &::before {
                            color: $brand-color;
                            @include font-size(30px);
                        }
                    }
                }
            }
            .property-price {
                background: $white-color;
                @include padding(10px, 20px, 10px, 20px);
                color: $dark-grey-color;
                font-weight: 700;
                @include flex-center;
                small {
                    @include font-size(16px);
                    text-transform: uppercase;
                }
                p {
                    @include font-size(30px);
                }
            }
        }
        .property-carousel {
            .swiper-slide {
                background-size: cover;
                background-position: center;
            }
            .single-property-thumbs-slider {
                width: 100%;
                height: 600px;
                @include breakpoint(sm) {
                    height: auto;
                }
            }
            .property-thumbs-holders {
                padding: 10px 0;
            }
            .property-thumbs-holders .swiper-slide {
                height: 200px;
                opacity: 0.4;
                @include breakpoint(sm) {
                    height: 100px;
                }
            }
            .property-thumbs-holders .swiper-slide-thumb-active {
                opacity: 1;
            }
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .swiper-button-next,
            .swiper-button-prev {
                &:after {
                    background: $brand-color;
                    color: $white-color;
                    @include font-size(14px);
                    @include padding(20px, 20px, 20px, 20px);
                }
            }
        }
    }

    .amenities-row {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        @include breakpoint(sm) {
            flex-direction: column;
        }

        &__col {
            @include flex-center;
            flex-direction: column;
            @include padding(40px, 10px, 40px, 10px);
            border-left: 1px solid $border-grey-color;
            width: 20%;
            @include breakpoint(sm) {
                width: 100%;
                border-left: 0;
            }

            img {
                @include padding(0, 0, 10px, 0);
            }
            .text-lg {
                color: $dark-grey-color;
                font-weight: 700;
                display: block;
                @include font-size(20px);
                text-transform: uppercase;
            }
            .text-sm {
                color: $light-grey-color;
                @include font-size(16px);
                font-weight: 700;
            }
            .action-icons {
                display: flex;
                li {
                    @include margin(0, 10px, 0, 0);
                    a {
                        @include flex-center;
                        background: $brand-color;
                        width: 35px;
                        height: 35px;
                        @include border-radius(50%);
                        i {
                            &::before {
                                color: $white-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .description {
        p {
            @include font-size(20px);
            @include padding(0, 0, 10px, 0);
        }
    }
    .floor-plan {
        figure {
            img {
                width: 100%;
            }
        }
    }
}

.enquire-now-wrap {
    .textarea-wrap {
        height: 145px !important;
        resize: none;
    }

    .form-control {
        @include border-radius(0);
        border: 2px solid #dadada;
        height: 75px;
        background: #f6f4f5;
        color: $dark-grey-color;
        @include font-size(16px);
        &:focus {
            box-shadow: none;
            border: 2px solid $brand-color;
        }
    }
}
