.registration-tabs {
    .nav-tabs {
        border: 0;
        .nav-link {
            border: 0;
            @include margin(0, 0, 0, 0);
            @include border-radius(0);
            @include padding(10px, 20px, 10px, 20px);
            background: #c7c7c7;
            color: $light-grey-color;
            @include font-size(14px);
            text-transform: uppercase;

            &.active {
                color: $black-color;
                background: #f0f0f0;
            }
        }
    }
    .tab-content {
        background:#f0f0f0;
        @include padding(40px, 40px, 40px, 40px);
        .form-wrap {
            position: relative;
            .form-control {
                @include border-radius(0);
                border: 2px solid #dadada;
                height: 75px;
                background: #f6f4f5;
                color: $dark-grey-color;
                @include font-size(16px);
                text-transform: capitalize;
                font-weight: 700;
                &:focus {
                    box-shadow: none;
                    border: 2px solid $brand-color;
                }
            }
            .textarea-wrap {
                height: 245px !important;
                resize: none;
            }
            p{
                color: $dark-grey-color;
                font-weight: 700;
                a{
                    color: $brand-color;
                }
            }
            .custom-file-uploader {
                position: relative;
                
                input[type='file'] {
                  display: block;
                  position: absolute;
                  top: 0;
                  right: 0;
                  bottom: 0;
                  left: 0;
                  z-index: 5;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  cursor: default;
                }
              }
        }
    }
}
